<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <title>Heating Status</title>
</head>
<body>
<h1 style="color: #5e9ca0;">Heating Settings</h1>
{{if .IsTemporary}}
<h2 style="color: red;">Temporary Settings:</h2>
<table>
    <tbody>
    <tr>
        <td>Temporary settings until</td>
        <td>{{.Until}}</td>
    </tr>
    <tr>
        <td>Temporary settings level</td>
        <td>{{.TemporaryLevel}}</td>
    </tr>
    </tbody>
</table>
{{end}}

<h2 style="color: #2e6c80;">Actual Settings:</h2>
<table>
    <tbody>
    <tr>
        <td>Heater level</td>
        <td>{{.Heater_Level}}</td>
    </tr>
    <tr>
        <td>Heater Requested temperature</td>
        <td>{{.Temperature_Requested}} °C</td>
    </tr>
    <tr>
        <td>House temperature</td>
        <td>{{.Temperature_Actual}} °C</td>
    </tr>
    </tbody>
</table>
<h2 style="color: #2e6c80;">Temporarily force settings:</h2>
<table>
    <tbody>
    <tr>
        <td>Reset - Back to Normal</td>
        <td><a href="http://{{.IpPort}}/temporary/reset" class="button">Click Here</a></td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>High - 3 hours</td>
        <td><a href="http://{{.IpPort}}/temporary/high/3" class="button">Click Here</a></td>
    </tr>
    <tr>
        <td>High - 6 hours</td>
        <td><a href="http://{{.IpPort}}/temporary/high/6" class="button">Click Here</a></td>
    </tr>
    <tr>
        <td>High - 12 hours</td>
        <td><a href="http://{{.IpPort}}/temporary/high/12" class="button">Click Here</a></td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>Low - 3 hours</td>
        <td><a href="http://{{.IpPort}}/temporary/low/3" class="button">Click Here</a></td>
    </tr>
    <tr>
        <td>Low - 6 hours</td>
        <td><a href="http://{{.IpPort}}/temporary/low/6" class="button">Click Here</a></td>
    </tr>
    <tr>
        <td>Low - 12 hours</td>
        <td><a href="http://{{.IpPort}}/temporary/low/12" class="button">Click Here</a></td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>Max - 3 hours</td>
        <td><a href="http://{{.IpPort}}/temporary/max/3" class="button">Click Here</a></td>
    </tr>
    <tr>
        <td>Max - 6 hours</td>
        <td><a href="http://{{.IpPort}}/temporary/max/6" class="button">Click Here</a></td>
    </tr>
    <tr>
        <td>Max - 12 hours</td>
        <td><a href="http://{{.IpPort}}/temporary/max/12" class="button">Click Here</a></td>
    </tr>
    </tbody>
</table>

</body>
</html>